[Unit]
Description = greeting service
After = network.target

[Service]
ExecReload = /bin/bash -c "python3 -m http.server 8000 --bind 127.0.0.1" 
ExecStart = /bin/bash -c "python3 -m http.server 8000 --bind 127.0.0.1"

[Install]
WantedBy = multi-user.target
